* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  border: 6px solid white;
  border-radius: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F45052;
  width: 100%;
  padding: 10px;
  gap: 10px;
  font-family: "Epilogue", sans-serif;
  color: white;
  border-radius: 10px 10px 0 0;
}

.container {
  padding: 5%;
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 40px 0;
}

.main-image_container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.main_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h2 {
  margin: 6px 0;
}

.card-content p {
  margin: 4px 0;
  line-height: 1.5;
}

.card a {
  text-decoration: none;
  color: rgb(125, 125, 125);
}

.marker {
  width: 7px;
  margin-right: 4px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }

  .main-image_container {
    width: 100%;
    max-width: 380px;
    aspect-ratio: 3 / 2;
    height: auto;
  }

  .card-content {
    align-items: center;
  }

  .card-content p {
    max-width: 90%;
  }
}
