*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100vh;
  border: 6px solid white;
  border-radius: 40%;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F45052;
  width: 100%;
  padding: 10px;
  gap: 10px;
  font-family: "Epilogue", sans-serif;
  color: white;
  border-radius: 10px 10px 0px 0px ;

}

.container{
  width: 100%;
  padding: 5%;
}

.card{
  display: flex;
  align-items: flex-start;
  margin: 40px;
  gap: 20px;
}

.card a{
  text-decoration: none;
  color: rgb(125, 125, 125);
}

.main-image_container{
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
  object-fit: cover;
}

.main_image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.marker{
  width: 7px;
  margin-right: 4px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h2 {
  margin: 6px 0;
}

.card-content p {
  margin: 4px 0;
  line-height: 1.5;
}
